<h1><%= @machine.location %> Vending Machine</h1>
<p>Average Price: <%= number_to_currency(@machine.snacks.average(:price)) %></p>
<% @machine.snacks.each do |snack| %>
  <p><%= snack.title %></p>
  <p><%= number_to_currency(snack.price) %></p>
  <% end %>
