<h1><%= @snack.title%></h1>
<p>Snack Price: <%= number_to_currency(@snack.price) %></p>
<% @snack.machines.each do |machine| %>
<p><%= machine.location %></p>
<p><%= number_to_currency(machine.snacks.average(:price)) %></p>
<p><%= machine.snacks.count %></p>
<% end %>
